/*font-family: 'PT Sans', sans-serif;*/
/*common start*/
body{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #010101;
}
/*common end*/

/*header start*/
header{
	background-color: #fcdb00;
	padding: 20px 0;
}
.logo{}
.menu{}
.menu ul li a{
	padding: 0 40px !important;
	font-size: 22px;
	font-weight: 700;
	color: #010101 !important;
}
.menu ul li a:hover{
	color: white !important;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
/*header end*/
/*slider start*/
.slider{
	background-color: #fcdb00;
	padding-bottom: 100px;
}

.cid {
    bottom: -80px;
}

.cid [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /*background-color: #fff;*/
    /*opacity: 0.5;*/
}

.cid .active {
    opacity: 1;
}

.s_content{
	margin-top:70px;
}
.s_content h1{
	margin:0;
	font-size: 32px;
	font-weight: 700;
}
.s_content h2{
	margin:20px 0 25px;
	font-size: 20px;
	font-weight: 400;
	color: #313841;
	letter-spacing: 2px;
}
.s_content p{
	margin: 0 0 30px;
	color: #555555;
	letter-spacing: 1px;
}
.s_icon{}
.s_icon li i{
	margin-right: 30px;
	font-size: 42px;
}
.s_img{}
.s_img img{}
/*slider end*/
/*feature start*/
.feature{
	padding-top: 100px;
	padding-bottom: 120px;
}
.f_title{
	/*border: 1px solid red;*/
}
.f_h1{
	margin: 0 0 15px;
	font-size: 32px;
	font-weight: 700;
}
.f_p{
	margin: 0;
	font-size: 20px;
	color: #313841;
	letter-spacing: 0px;
	line-height: 25px;
}
.f_single{
	margin-top: 70px;
}
.f_icon_main{
	margin-top: 10px;
}
.f_icon{}
.f_icon i{
	font-size: 50px;
}
.f_content{
	margin-top: 5px;
}
.fc_h2{
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 400;
}
.fc_p{
	letter-spacing: 1px;
	color: #898989;
	line-height: 22px;
}

/*feature end*/
/*contact start*/
.contact{
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: #010101;
}
.yellow{
	color: #fcdb00;
}
.ash{
	color: #898989;
}
.f_form{
	margin-top: 30px;
	margin-bottom: 60px; 
}
.f_email{
	width: 100%;
	height: 50px;
	font-family: 'PT Sans', sans-serif;
    color: #898989;
    border: none;
}
.f_email:focus{
	outline: 0;
	box-shadow: none;
}
.f_submit{
		width: 100%;
		height: 50px;
		background-color: #fcdb00;
		font-family: 'PT Sans', sans-serif;
		font-weight: 700;
    	color: #010101;
    	text-transform: uppercase;
}
.f_submit:focus{
	outline: 0;
	box-shadow: none;
}
.f_submit:hover{
	color: #fcdb00;
	background-color: #010101;
}
.contact_icon{
	font-size: 42px;
	color:#fcdb00;
	
}
/*contact end*/

/*footer start*/
footer{
	padding-bottom: 100px;
	background-color: #010101;
}
.f_1{
	color:white;
}
.f_1 p{
	margin: 0;
}
.f_1 p a{
	color:white;
	text-decoration: auto;
}
/*footer end*/